/University_Java/AlquilerDVD/nbproject/private/
/University_Java/Cantidad_Hectareas/nbproject/private/
/University_Java/Ciclo_Repetitivo/nbproject/private/
/University_Java/Cuc_uvwork/nbproject/private/
/University_Java/Cuc_uvwork/build/
/University_Java/Vectores_Test/nbproject/private/
/University_Java/AlquilerDVD/build/
/University_Java/Dayandmonth/build/
/University_Java/Dayandmonth/nbproject/private/
/University_Java/Exercise2/build/
/University_Java/Exercise2/nbproject/private/
/University_Java/Exercise_Test00/build/
/University_Java/Exercise_Test00/nbproject/private/
/University_Java/Exercise1/build/
/University_Java/Exercise1/nbproject/private/
/University_Java/Exercise3/build/
/University_Java/Exercise3/nbproject/private/
/University_Java/ExercisesTest/nbproject/private/
/University_Java/Fototienda/build/
/University_Java/Fototienda/nbproject/private/
/University_Java/Gamequestion/build/
/University_Java/Gamequestion/nbproject/private/
/University_Java/Inversion/build/
/University_Java/Inversion/nbproject/private/
/University_Java/JavaExample/build/
/University_Java/JavaExample/nbproject/private/
/University_Java/Library/build/
/University_Java/Library/nbproject/private/
/University_Java/MatrizCuadrada/build/
/University_Java/MatrizCuadrada/nbproject/private/
/University_Java/Menu_Exercises/build/
/University_Java/Menu_Exercises/nbproject/private/
/University_Java/NBSwitch/build/
/University_Java/NBSwitch/nbproject/private/
/University_Java/Personas/build/
/University_Java/Personas/nbproject/private/
/University_Java/Project1/build/
/University_Java/Project1/nbproject/private/
/University_Java/Proveedor/build/
/University_Java/Proveedor/nbproject/private/
/University_Java/Puls/build/
/University_Java/Puls/nbproject/private/
/University_Java/S_Elements/build/
/University_Java/S_Elements/nbproject/private/
/University_Java/Univ_works/build/
/University_Java/Univ_works/nbproject/private/
/University_Java/Zodiaco/build/
/University_Java/Zodiaco/nbproject/private/
/University_Java/zPrueba1/build/
/University_Java/zPrueba1/nbproject/private/